@import './shared.css';
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Tailwind dark variant handled by prefix 'dark:' */

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

    body {
        @apply relative text-base font-normal font-outfit bg-gray-50 dark:bg-gray-900;
    }
}

@layer utilities {

    /* Remove Date & Time Icon */
    input[type="date"]::-webkit-inner-spin-button,
    input[type="time"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="time"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}

@layer components {
    .menu-item {
        @apply relative flex items-center gap-3 px-3 py-2 font-medium rounded-lg text-theme-sm;
    }

    .menu-item-active {
        @apply bg-brand-50 text-brand-500 dark:bg-brand-500/12 dark:text-brand-400;
    }

    .menu-item-inactive {
        @apply text-gray-700 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-300 dark:hover:bg-white/5 dark:hover:text-gray-300;
    }

    .menu-item-icon-active {
        @apply fill-brand-500 dark:fill-brand-400;
    }

    .menu-item-icon-inactive {
        @apply fill-gray-500 group-hover:fill-gray-700 dark:fill-gray-400 dark:group-hover:fill-gray-300;
    }

    .menu-item-arrow {
        @apply absolute top-1/2 right-2.5 -translate-y-1/2;
    }

    .menu-item-arrow-active {
        @apply rotate-180 stroke-brand-500 dark:stroke-brand-400;
    }

    .menu-item-arrow-inactive {
        @apply stroke-gray-500 group-hover:stroke-gray-700 dark:stroke-gray-400 dark:group-hover:stroke-gray-300;
    }

    .menu-dropdown-item {
        @apply text-theme-sm relative flex items-center gap-3 rounded-lg px-3 py-2.5 font-medium;
    }

    .menu-dropdown-item-active {
        @apply bg-brand-50 text-brand-500 dark:bg-brand-500/12 dark:text-brand-400;
    }

    .menu-dropdown-item-inactive {
        @apply text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-white/5;
    }

    .menu-dropdown-badge {
        @apply text-brand-500 dark:text-brand-400 block rounded-full px-2.5 py-0.5 text-xs font-medium uppercase;
    }

    .menu-dropdown-badge-active {
        @apply bg-brand-100 dark:bg-brand-500/20;
    }

    .menu-dropdown-badge-inactive {
        @apply bg-brand-50 group-hover:bg-brand-100 dark:bg-brand-500/15 dark:group-hover:bg-brand-500/20;
    }

    .no-scrollbar {
        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .custom-scrollbar {
        &::-webkit-scrollbar {
            @apply w-1.5 h-1.5;
        }

        &::-webkit-scrollbar-track {
            @apply rounded-full;
        }

        &::-webkit-scrollbar-thumb {
            @apply bg-gray-200 rounded-full;
        }
    }

    .dark .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #344054;
    }

    /* Sidebar hover effects */
    .sidebar:hover {
        width: 290px;
    }

    .sidebar:hover .logo {
        display: block;
    }

    .sidebar:hover .logo-icon {
        display: none;
    }

    .sidebar:hover .sidebar-header {
        justify-content: space-between;
    }

    .sidebar:hover .menu-group-title {
        display: block;
    }

    .sidebar:hover .menu-group-icon {
        display: none;
    }

    .sidebar:hover .menu-item-text {
        display: inline;
    }

    .sidebar:hover .menu-item-arrow {
        display: block;
    }

    .sidebar:hover .menu-dropdown {
        display: flex;
    }

    .tableCheckbox:checked~span {
        @apply border-brand-500 bg-brand-500;
    }

    .tableCheckbox:checked~span span {
        @apply opacity-100;
    }

    /* third-party libraries CSS cleaned */
    .apexcharts-legend-text {
        @apply text-gray-700 dark:text-gray-400;
    }

    .apexcharts-text {
        @apply fill-gray-700 dark:fill-gray-400;
    }

    .apexcharts-tooltip.apexcharts-theme-light {
        @apply shadow-theme-sm gap-1 rounded-lg border-gray-200 p-3 dark:border-gray-800 dark:bg-gray-900;
    }

    .apexcharts-tooltip-marker {
        @apply mr-1.5 h-1.5 w-1.5;
    }

    /* Flatpickr cleaned */
    .flatpickr-wrapper {
        @apply w-full;
    }

    .flatpickr-calendar {
        @apply dark:bg-gray-dark dark:shadow-theme-xl mt-2 rounded-xl p-5 text-gray-500 dark:text-gray-400;
    }

    .flatpickr-current-month .cur-month,
    .flatpickr-current-month input.cur-year {
        @apply h-auto pt-0 text-lg font-medium text-gray-800 dark:text-white/90;
    }

    /* Task drag & checkbox */
    .task {
        transition: all 0.2s ease;
    }

    .task.is-dragging {
        @apply rounded-lg shadow-lg opacity-80 cursor-grabbing;
    }

    .taskCheckbox:checked~.box {
        @apply border-brand-500 bg-brand-500 dark:border-brand-500;
    }

    .taskCheckbox:checked~.box span {
        @apply opacity-100;
    }

    .taskCheckbox:checked~p {
        @apply text-gray-400 line-through;
    }
}